article pre {
  font-size: 14px;
}

article p {
  text-align: justify;
}

@font-face {
  font-family: 'Tintin';
  src: url("../assets/tintin.ttf");
}

a.site-title {
  font-family: 'Tintin';
}

p code {
  border-radius: 5px;
  font-size: 14px;
  margin: 0px 2px;
  padding: 1px 3px;
  background-color: #212A26;
  color: #93a1a1;
}
